In [1]:
import pandas as pd
import numpy as np

## Leitura do arquivo

In [2]:
data = pd.read_csv('breast_cancer_data.csv',sep=',')
data.head()

   1000025  5.0   1.0   1  1.1  2 1.2  3.0  1.0.1  1.3     benign    Dr. Doe
0  1002945  5.0   4.0   4    5  7  10  3.0    2.0    1     benign  Dr. Smith
1  1015425  3.0   1.0   1    1  2   2  3.0    1.0    1     benign    Dr. Lee
2  1016277  6.0   8.0   8    1  3   4  3.0    7.0    1     benign  Dr. Smith
3  1017023  4.0   1.0   1    3  2   1  3.0    1.0    1     benign   Dr. Wong
4  1017122  8.0  10.0  10    8  7  10  9.0    7.0    1  malignant  Dr. Smith

### não temos nome de coluna, então precisamos fornecer esses nomes e passar como parâmetro na função read_csv

In [3]:
colunas = ['id','clump_thickness','cell_size_uniformity','cell_shape_uniformity','marginal_adhesion','single_ep_cell_size',
          'bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','class','doctor_name']

data = pd.read_csv('breast_cancer_data.csv',names=colunas)
data.head()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

In [ ]:
len(colunas)

### vamos entender nossos dados

In [ ]:
data.dtypes

In [ ]:
data.describe()

In [ ]:
data.info()

### com valores caategóricos, podemos agrupar

In [ ]:
data.groupby(by =['class','doctor_name']).size()

### Lidando com valores faltantes

In [ ]:
data.isna().sum()

In [ ]:
data = data.dropna(axis = 0, how = 'any')

### Lidando com valores duplicados

In [ ]:
data[data.duplicated()]

In [ ]:
data = data.drop_duplicates()

In [ ]:
data[data.duplicated()]

In [ ]:
repeat_patients = data.groupby(by = 'id').size().sort_values(ascending =False)
repeat_patients

### Filtrando dados

In [ ]:
filtered_patients = repeat_patients[repeat_patients > 2].to_frame().reset_index()
filtered_data = data[~data.id.isin(filtered_patients.id)]